In [149]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

In [150]:
df = pd.read_csv(r"C:\Users\SURFACE\Downloads\Housing_dataset_train.csv")

In [151]:
df.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             14000 non-null  int64
 1   loc            12187 non-null  object
 2   title          12278 non-null  object
 3   bedroom        12201 non-null  float64
 4   bathroom       12195 non-null  float64
 5   parking_space  12189 non-null  float64
 6   price          14000 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 765.8+ KB

In [153]:
df.shape

(14000, 7)

In [154]:
df.isnull().sum()

ID                  0
loc              1813
title            1722
bedroom          1799
bathroom         1805
parking_space    1811
price               0
dtype: int64

In [155]:
df.describe()

                 ID       bedroom      bathroom  parking_space         price
count  14000.000000  12201.000000  12195.000000   12189.000000  1.400000e+04
mean    4862.700357      4.308171      3.134235       3.169825  2.138082e+06
std     3818.348214      2.441165      2.035950       1.599415  1.083057e+06
min        0.000000      1.000000      1.000000       1.000000  4.319673e+05
25%     1672.750000      2.000000      1.000000       2.000000  1.393990e+06
50%     3527.000000      4.000000      2.000000       3.000000  1.895223e+06
75%     8011.250000      6.000000      5.000000       4.000000  2.586699e+06
max    12999.000000      9.000000      7.000000       6.000000  1.656849e+07

In [156]:
df.bedroom.describe()

count    12201.000000
mean         4.308171
std          2.441165
min          1.000000
25%          2.000000
50%          4.000000
75%          6.000000
max          9.000000
Name: bedroom, dtype: float64

In [157]:
df["bedroom"]=df["bedroom"].fillna("Missing")
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,Missing,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,Missing,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,Missing,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,Missing,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,Missing,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [158]:
df["bedroom"].replace("Missing",0)

0        2.0
1        0.0
2        7.0
3        5.0
4        0.0
        ...
13995    0.0
13996    0.0
13997    8.0
13998    0.0
13999    9.0
Name: bedroom, Length: 14000, dtype: float64

In [159]:
df["bedroom"]=df["bedroom"].replace("Missing",0)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,0.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,0.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,0.0,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,0.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,0.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [160]:
round(df["bedroom"].mean())

4

In [161]:
df["bedroom"]=df["bedroom"].replace(0,4)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [162]:
df.bathroom.describe()

count    12195.000000
mean         3.134235
std          2.035950
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max          7.000000
Name: bathroom, dtype: float64

In [163]:
df["bathroom"]=df["bathroom"].fillna("Missing")
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [164]:
df["bathroom"].replace("Missing",0)

0        2.0
1        2.0
2        5.0
3        2.0
4        5.0
        ...
13995    7.0
13996    7.0
13997    6.0
13998    6.0
13999    7.0
Name: bathroom, Length: 14000, dtype: float64

In [165]:
df["bathroom"]=df["bathroom"].replace("Missing",0)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [166]:
round(df["bathroom"].mean())

3

In [167]:
df["bathroom"]=df["bathroom"].replace(0,3)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,NaN,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [168]:
df.parking_space.describe()

count    12189.000000
mean         3.169825
std          1.599415
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          6.000000
Name: parking_space, dtype: float64

In [169]:
df["parking_space"]=df["parking_space"].fillna("Missing")
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,Missing,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,Missing,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [170]:
df["parking_space"].replace("Missing",0)

0        1.0
1        4.0
2        0.0
3        4.0
4        6.0
        ...
13995    0.0
13996    5.0
13997    5.0
13998    1.0
13999    5.0
Name: parking_space, Length: 14000, dtype: float64

In [171]:
df["parking_space"]=df["parking_space"].replace("Missing",0)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,0.0,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,0.0,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [172]:
round(df["parking_space"].mean())

3

In [173]:
df["parking_space"]=df["parking_space"].replace(0,3)
df

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,4.0,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,3.0,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,4.0,5.0,6.0,2600700.898
...,...,...,...,...,...,...,...
13995,6175,Edo,Bungalow,4.0,7.0,3.0,2367927.861
13996,9704,Kaduna,Apartment,4.0,7.0,5.0,2228516.471
13997,11190,Plateau,Bungalow,8.0,6.0,5.0,2406812.693
13998,9256,Delta,Flat,4.0,6.0,1.0,3348918.718
13999,8787,Nasarawa,NaN,9.0,7.0,5.0,2858516.890

In [174]:
from sklearn.preprocessing import LabelEncoder
df['loc']=LabelEncoder().fit_transform(df['loc'])
df.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,19,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,27,Apartment,4.0,2.0,4.0,1672416.689
2,9261,12,NaN,7.0,5.0,3.0,3364799.814
3,2224,3,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,21,Terrace duplex,4.0,5.0,6.0,2600700.898

In [175]:
df['title']=LabelEncoder().fit_transform(df['title'])
df.head()

      ID  loc  title  bedroom  bathroom  parking_space        price
0   3583   19      7      2.0       2.0            1.0  1149999.565
1   2748   27      0      4.0       2.0            4.0  1672416.689
2   9261   12     10      7.0       5.0            3.0  3364799.814
3   2224    3      3      5.0       2.0            4.0  2410306.756
4  10300   21      8      4.0       5.0            6.0  2600700.898

In [176]:
df.drop('ID', axis=1, inplace=True)

In [177]:
df.head()

   loc  title  bedroom  bathroom  parking_space        price
0   19      7      2.0       2.0            1.0  1149999.565
1   27      0      4.0       2.0            4.0  1672416.689
2   12     10      7.0       5.0            3.0  3364799.814
3    3      3      5.0       2.0            4.0  2410306.756
4   21      8      4.0       5.0            6.0  2600700.898

In [178]:
X=df.drop("price",  axis=1)

In [179]:
X=df[["loc","title","bathroom","parking_space"]]

In [180]:
y=df.iloc[:,:-1]

In [181]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [182]:
print("shape of X_train ",(X_train).shape)
print("shape of X_test ",(X_test).shape)
print("shape of y_train ",(y_train).shape)
print("shape of y_test ",(y_test).shape)

shape of X_train  (11200, 5)
shape of X_test  (2800, 5)
shape of y_train  (11200, 5)
shape of y_test  (2800, 5)

In [185]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [186]:
y_pred = model.predict(X_test)

In [187]:
mse = mean_squared_error(y_test, y_pred)

In [188]:
r2 = r2_score(y_test, y_pred)
mse, r2

(1.613515189901732e-29, 1.0)