In [120]:
#Problem Statement; prdeict what score the student are going to get.
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, confusion_matrix, mean_absolute_error, mean_squared_error

In [121]:
df = pd.read_csv(r"C:\Users\SURFACE\Downloads\exam.csv")

In [122]:
df

      hours_study  attendance  score
0               6          87  19.53
1               5          99  21.13
2               4          51  10.73
3               5          62  13.73
4               3          67  13.13
...           ...         ...    ...
1995            6          83  18.73
1996            2          85  15.93
1997            2          99  18.73
1998            4          51  10.73
1999            1          54   8.93

[2000 rows x 3 columns]

In [123]:
df.head()

   hours_study  attendance  score
0            6          87  19.53
1            5          99  21.13
2            4          51  10.73
3            5          62  13.73
4            3          67  13.13

In [124]:
df.tail()

      hours_study  attendance  score
1995            6          83  18.73
1996            2          85  15.93
1997            2          99  18.73
1998            4          51  10.73
1999            1          54   8.93

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hours_study  2000 non-null   int64
 1   attendance   2000 non-null   int64
 2   score        2000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 47.0 KB

In [126]:
df.describe()

       hours_study   attendance        score
count  2000.000000  2000.000000  2000.000000
mean      3.535500    74.678500    15.094100
std       1.709152    14.410863     3.210602
min       1.000000    50.000000     8.130000
25%       2.000000    62.000000    12.530000
50%       4.000000    75.000000    15.130000
75%       5.000000    87.000000    17.730000
max       6.000000    99.000000    21.930000

In [127]:
df.columns

Index(['hours_study', 'attendance', 'score'], dtype='object')

In [128]:
X=df.drop("score",  axis=1)

In [97]:
np.array(df)

array([[ 6.  , 87.  , 19.53],
       [ 5.  , 99.  , 21.13],
       [ 4.  , 51.  , 10.73],
       ...,
       [ 2.  , 99.  , 18.73],
       [ 4.  , 51.  , 10.73],
       [ 1.  , 54.  ,  8.93]])

In [98]:
X=df[["hours_study","attendance"]]

In [99]:
y=df.iloc[:,-1]

In [100]:
X_train, X_test, y_train, y_test = train_test_split (X,y, train_size=.80, random_state=2, shuffle=True)

In [101]:
#1600 row and 2columns
print("shape of X_train ",(X_train).shape)
print("shape of X_test ",(X_test).shape)
print("shape of y_train ",(y_train).shape)
print("shape of y_test ",(y_test).shape)

shape of X_train  (1600, 2)
shape of X_test  (400, 2)
shape of y_train  (1600,)
shape of y_test  (400,)

In [102]:
knn = KNeighborsRegressor(n_neighbors=1)

In [103]:
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=1)

In [104]:
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=1)

In [105]:
y_pred = knn.predict(X_test)

In [107]:
from sklearn.metrics import accuracy_score, confusion_matrix, mean_absolute_error, mean_squared_error

In [109]:
mae = mean_absolute_error

mae(y_test,y_predict)

In [112]:
mae(y_test,y_pred)

0.001999999999999993